<ul class="navbar-nav" *ngIf="isAuthenticated | async">
  <li class="nav-item">
    <a class="nav-link" style="color: #fff" title="Manage"><i class="fas fa-user-alt"></i> Hello {{ userName | async }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: #fff" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
  </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
    <a class="nav-link" style="color: #fff" [routerLink]='["/authentication/register"]'><i class="fa fa-user-plus fa-fw mr-1"></i> Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color: #fff" [routerLink]='["/authentication/login"]'><i class="fas fa-sign-in-alt fa-fw mr-1"></i> Login</a>
  </li>
</ul>
